
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Login</h2>
<form method="post">
    <table class="table table-borderless">
        <tr>
            <td>
                <input type="text" placeholder="Enter Email" name="email" class="form-control" />
            </td>
          
        </tr>
        <tr>
            <td>
                <input type="password" placeholder="Enter Password" name="password" class="form-control" />
            </td>
        </tr>
        <tr>
            <td>
                <input type="submit" value="Login" class="btn btn-success" />
            </td>
        </tr>
    </table>
</form>

